<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- NOTE: external links are for testing only -->
    <style>
      {{ template "mui.css" }}
    </style>
  </head>
  <body style="padding: 2em;">
  <table class="mui-body" cellpadding="0" cellspacing="0" border="0"><tr><td>
  <!--
  email body goes here
  -->
  <div style="padding: 2em; background-color: rgb(2, 136, 209); color: white;">
    <div class="mui--text-display2"><strong>Weekly reminder</strong></div>
    <div class="mui--text-title">Your notes are waiting for you. We're here to remind you!</div>
  </div>

  {{ range . }}
    {{ template "category.html" . }}
  {{ end }}

  </td></tr></table>
  </body>
</html>
