<table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td class="mui-panel">
  <div class="mui--text-body1">
  <div>
    <table style="border: 0; width: 100%;">
      <tr>
        <td style="width:100%">
          <a href="https://app.memoiz.com" alt="Open on Memoiz">
          <h2>
            {{.Memo.Text}}
            {{if (ne .Memo.MemoRichInfo.Category.String "Uncategorized")}}
              <span class="tag">{{.Memo.MemoRichInfo.Category}}</span>
            {{end}}
          </h2>
          </a>
        </td>
      </tr>
    </table>
    <hr>
    <table style="border: 0; padding: 1em;">
      <tr>
        <td class="mui--text-justify" style="width: 100%; padding-bottom: 0.5em; padding: 1em;">
          {{.EnrichInfos.Content}}
        </td>
      </tr>
      {{ if .EnrichInfos.ImageUrl }}
      <tr>
        <td class="mui--text-center">
          <img style="width: 300px;" src="{{.EnrichInfos.ImageUrl}}" />
        </td>
      </tr>
      {{ end }}
      <tr class="copyright">
        <td class="mui--text-center">
          <span>Content: {{.EnrichInfos.ContentCopyright}}</span> {{if .EnrichInfos.ContentSource}}<a class="copyright" href="{{.EnrichInfos.ContentSource}}" alt="Go to source"><span>Source</span></a>{{end}}
          {{ if .EnrichInfos.ImageCopyright }}
            <br/>
            <span>Image: {{.EnrichInfos.ImageCopyright}}</span> {{if .EnrichInfos.ImageSource}}<a class="copyright" href="{{.EnrichInfos.ImageSource}}" alt="Go to source"><span>Source</span></a>{{end}}
          {{ end }}
        </td>
      </tr>
    </table>
  </div>
</td></tr></table>
