{{ template "header.html" . }}

  <div style="padding: 1.5em; background-color: rgb(2, 136, 209); color: white;">
    <div class="mui--text-display1"><strong>Focus</strong></div>
    <div class="mui--text-subhead">We have noticed that these memos need some attention!</div>
    <div class="mui--text-caption">Think of archiving them if these memos do not interest you anymore.</div>
  </div>

  {{ range .Memos }}
    {{ if eq .EnrichInfos.Format "url_no_image" }}
      {{ template "enriched_memo_url_no_image.html" . }}
    {{ else if eq .EnrichInfos.Format "url_focus_image" }}
      {{ template "enriched_memo_url_focus_image.html" . }}
    {{ else }}
      {{ template "enriched_memo_standard.html" . }}
    {{ end }}
  {{ end }}

{{ template "footer.html" . }}
