<table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td class="mui-panel">
  <div class="mui--text-body1">
  <div>
    <table style="border: 0; width: 100%;">
      <tr>
        <td style="width:100%">
          <h3>
            {{ if .Memo.MemoRichInfo.Title }}
              {{ .Memo.MemoRichInfo.Title }}
            {{ else }}
              {{ .Memo.Text }}
            {{ end }}
            {{if (ne .Memo.MemoRichInfo.Category "Uncategorized")}}
              <span class="tag">{{.Memo.MemoRichInfo.Category}}</span>
            {{end}}
          </h3>
        </td>
      </tr>
    </table>
    <hr>
    <table style="border: 0; padding: 1em;">
      <tr>
        <td>
          <a href="{{.Memo.MemoRichInfo.Url}}" alt="Go to link">
            {{.Memo.MemoRichInfo.Url}}
          </a>
        </td>
      </tr>
    {{ template "enriched_memo_copyright.html" . }}
    </table>
  </div>
</td></tr></table>
