{{ template "header.html" . }}

  <div style="padding: 2em; background-color: rgb(2, 136, 209); color: white;">
    <div class="mui--text-display2"><strong>Password Reset</strong></div>
    <div class="mui--text-title"></div>
  </div>

  <table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td class="mui-panel">
    <div class="mui--text-body1">
    <div>
      <table style="border: 0; width: 100%;">
        <tr><td>
            <p>
              You've asked to reset the password of your Memoiz account.
            </p>
            <p>
              <a href="https://app.memoiz.com/passwordreset?t={{.Token}}" alt="Click here to reset">Click on this link to update it.</a>
            </p>
        </td></tr>
      </table>
    </div>
    </div>
  </table>

{{ template "footer.html" . }}
