{{ template "header.html" . }}

  <div style="padding: 1.5em; background-color: rgb(2, 136, 209); color: white;">
    <div class="mui--text-display1"><strong>Reminder</strong></div>
    <div class="mui--text-subhead">You've set some reminder.</div>
    <div class="mui--text-caption">Think of archiving them if these memos do not interest you anymore.</div>
  </div>

  {{ range .Memos }}
    {{ if .EnrichInfos.Enriched }}
      {{ template "enriched_memo_standard.html" . }}
    {{ else }}
      <div>
        <li>{{.Memo.Text}}</li>
      </div>
    {{ end }}
  {{ end }}

{{ template "footer.html" . }}
