.copyright {
  font-size: 10px;
  color: #aaaaaa;
  padding-top: 2px;
}

a.copyright {
  font-size: 10px;
  color: #aaaaaa;
  text-decoration: underline;
}

.tag {
  background-color: rgb(2, 136, 209);
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: 0.7em;
  padding: 0.5em;
  margin-left: 0.5em;
}
