{{ template "header.html" . }}

  <div style="padding: 1.5em; background-color: rgb(2, 136, 209); color: white;">
    <div class="mui--text-display1"><strong>Welcome to Memoiz!</strong></div>
    <div class="mui--text-subhead">Never forget a memo again.</div>
  </div>

  <div style="padding: 2em;">
    <p>
      Putting notes on post-its or in an application is easy. To forget them as soon as you wrote them is even easier. That is why Memoiz has been created: never let you write something down and forget about it.
    </p>
    <p>
      Memoiz takes care of sending you smart emails and push notifications, with enriched context about your memos when possible.
    </p>
    <p>
      Moreover, when you'll add your memos in Memoiz, our algorithm will try to automatically categorize them, helping you finding them easily.
    </p>
    <p>
      We're really happy that you've signed up to Memoiz. We're reachable at <a href="mailto:contact@memoiz.com">contact@memoiz.com</a> (or simply reply to this email) and seriously, don't hesitate to send us an email!
    </p>
    <p>
      <strong>The Memoiz Team</strong>
    </p>
  </div>

{{ template "footer.html" . }}
